<%- include('../header') %>

<form method="POST" action="/categorias/editar/<%= categoria.id %>">
    <div class="form-group">
        <label for="categoria">Categoria</label>
        <input type="text" class="form-control" id="categoria" name="categoria" placeholder="Digite a categoria" value="<%= categoria.categoria %>">
        <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>

<%- include('../footer') %>